@require '~style/mixins.styl'
@require '~font-awesome/css/font-awesome.css'

*, *:before, *:after {
  box-sizing: border-box
}

.scene-outliner {
	absPos(0, 0, auto, auto)
	wh(auto, 100%)
	min-width: 64px
	max-width: 340px
	padding: 64px 16px 32px 16px
	border: 1px solid #ddd

	color: #ddd
	font-family: 'Consolas', monospace
	font-size: 0.85rem
	color: #aaa
	ul {
		margin: 0
		padding-left: 12px
		& > li {
			padding: 4px
			flexXY(start, center)
		}
	}

	i.fa {
		font-family: 'FontAwesome'
		width: 1.8rem
	}
}